@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}


<header class="header--dashboard">
    <div class="header__left">
        <h3>Store Products</h3>
        <p>Online Products List</p>
    </div>
    <div class="header__right">
        <a asp-controller="Products" asp-action="Create" class="ps-btn success">
            New Product <i class="bi bi-plus-square ml-5"></i>
        </a>
    </div>
</header>
<section class="ps-items-listing">
    <div class="ps-section__content">
        <div class="table-responsive">
            <table class="table ps-table">
                <thead>
                    <tr>
                        <th>Product No</th>
                        <th>Product Name</th>
                        <th>Product Style</th>
                        <th>Product Category</th>
                        <th>Product Size</th>
                        <th>Product Price</th>
                        <th>Added Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.ProductNo</td>
                            <td>
                                <a href="#"><strong>@product.Name</strong></a>
                            </td>
                            <td>@product.Style</td>
                            <td>
                                <p class="ps-item-categories">
                                    <a href="#">@product.Category</a>
                                </p>
                            </td>
                            <td>@product.Size</td>
                            <td><strong>$@product.Price</strong></td>

                            <td class="text-start">@product.AddedDate.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

